html[data-sticky-footer="true"] .#{$_prefix}l-container,
html[data-window-scroll="false"] {
  > .#{$_prefix}l-header,
  > .#{$_prefix}l-footer {
    flex: none;
  }
}

html[data-sticky-footer="true"] .#{$_prefix}l-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .#{$_prefix}l-contents {
    flex: 1 0 auto;
  }
}

[data-l-header-type="overlay"],
[data-l-header-type="sticky"] {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

html[data-window-scroll="false"] {
  &, body {
    overflow: hidden;
  }

  .#{$_prefix}l-container {
    display: block;
    overflow-y: auto;
    height: 100vh;
    min-height: 0;
    flex: auto;
  }
}
